html, body {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container {
    border: 10px solid wheat;
    display: block;
    justify-content: center;
    align-items: center;
}
img{
    display: flex;
    margin: auto;
    max-width: 90%;
    max-height: fit-content;
}
input, button {
    border: 3px solid wheat; 
    display: inline-block;
    margin: auto;
    text-align: center;
    border-radius: 8px;
    width: 50%; 
    height: 20%;
    margin-bottom: 2%;
    font-size: 1rem;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    margin: 5%;
}

li {

    margin: auto;
    margin-top: 1%;
    margin-left: -2%;
    padding: 15px;
    border: 8px solid  antiquewhite; 
    border-radius: 10px;
    flex-grow: 1;
    text-align: center;
}

ul li:hover {
    background-color: antiquewhite;
    font-size: larger;
}

button:hover {
    background-color: wheat;
}
input:hover {
    background-color: antiquewhite;
}
